@font-face {
    font-family: "Bebas Neue";
    src: url(Fondid/BebasNeue-Regular.ttf);
}

body {
    background-color: #476624d0;}

h1.pealkiri {font-family: "Bebas Neue";
                font-size: 280%;
                border-bottom: 5px solid #476525;
                text-align: center;}

p.sissejuhatus {font-family: "Bebas Neue";
                font-size: 140%;}

h2.mexicanredknee {margin-left: 7%;
                    margin-bottom: 1%;
                    font-family: "Bebas Neue";
                    font-size: 190%;}

h2.chileanrose {margin-left: 7%;
                margin-bottom: 1%;
                font-family: "Bebas Neue";
                font-size: 190%;}

h2.brazilianblack {margin-left: 7%;
                    margin-bottom: 1%;
                    font-family: "Bebas Neue";
                    font-size: 190%;}

img.tarantel1 {border-radius: 25%;
                box-shadow: 5px 5px 20px;
                margin-right: 40px;}
img.tarantel2 {border-radius: 25%;
                box-shadow: 5px 5px 20px;
                margin-right: 40px;}
img.tarantel3 {border-radius: 25%;
                box-shadow: 5px 5px 20px;
                margin-right: 40px;}

ul.tarantel {font-family: "Bebas Neue";
                    font-size: 140%;}

a { font-family: "Bebas Neue";
    font-size: 150%;
    color: #000000;
    border-style:solid;
    border-color: #476525;
    border-width: 4px;
    border-radius: 5%;
    background-color:#54782c;
    }