@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lora:ital,wght@0,400..700;1,400..700&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Unlock&display=swap');


body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #c2b69e;
    background-position: center;
    background-color: #203f2e;
    overflow-x: hidden;
}
.parallax-gallery {
  position: relative;
  height: 58vh;
  overflow: hidden; 
}

.parallax {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0; 
    transition: opacity 0.5s ease; 
  }
 
  .parallax.active {
    opacity: 1; 
    z-index: 1;
    display: block;
  }

  .gallery-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%; 
  }
  .gallery-btn.left {
    left: 10px;
  }
  
  .gallery-btn.right {
    right: 10px;
  }
  
  .gallery-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

.header {
  background-attachment: fixed;
  background-size: cover;
  color: rgb(166, 167, 164);
  padding: 20px;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lora';
}


.header h1 {
  font-size: 4em;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.header p {
  color: #c2b69e;
  font-weight: bold;
  font-size: larger;
}

.header-content {
    position: relative;
  } 

 .header-content .back-button {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    
    text-decoration: none;
    color: #fff;
    background: rgba(114, 94, 84, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
  }

.header-content .back-button:hover {
  background: #253b25;
}



.introduction p {
  margin: 20px;
  font-size: 20px;
  line-height: 1.5;
  color: #c2b69e;
  font-weight: bold;
}


.species h2 {
  text-align: center;
  margin-top: 40px;
  color: rgb(166, 167, 164);
  font-size: 28px;
  font-family: 'Lora';
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
}


.modal .close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}


.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.modal-content {
  animation: zoomIn 0.3s;
}

@keyframes zoomIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


.species ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 15px; 
}

.species li {
  width: 200px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}


.species-btn {
  display: inline-block;
  background: #423722;
  color: #b0abab;
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: 'Lora';
  font-size: 20px;
  width: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.species-btn:hover {
  background: #004d00;
  transform: scale(1.05);
}

.species-details {
  display: none;
  padding: 15px;
  background: #233f26;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center; 
  width: 100%; 
  box-sizing: border-box;
}

.details-img {
  max-width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
  border-radius: 5px; 
}


.visible {
  display: block;
  
}

.content-wrapper {
  margin: 20px auto;
  padding: 20px;
}

.content-wrapper h2 {
  text-align: center;
  margin-top: 40px;
  color: rgb(166, 167, 164);
  font-size: 30px;
  font-family: 'Lora';
}

.two-column {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #4b2920;
}

.two-column .column {
  background: #768d3f;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  font-weight: bold;
}  

.two-column h3 {
  font-weight: bolder;
  font-size: 28px;
}
   


.keeping-content {
  display: flex;
  gap: 20px;
}

.terrarium-img {
  width: 40%;
  border-radius: 8px;
}

.info-table {
  width: 60%;
  border-collapse: collapse;
}

.info-table thead th {
  background: #004d00;
  color: white;
  padding: 10px;
}

.info-table tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}


button {
  transition: all 0.3s ease-in-out;
}  
